project:
  type: website

website:
  title: "stats140_website"
  navbar:
    left:
      - href: index.qmd
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



