project:
  type: website

website:
  title: "Charlie Hoose"
  navbar:
    left:
      - href: index.qmd
        text: About
      - href: about.qmd
        text: Research/Projects

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



